each value in emp
    if add[0]
        - var directionD = 'updateD'
    else
        - var directionD = 'Address' 
    if pro[0]
        - var directionP = 'updateP'
    else
        - var directionP = 'assigned'     
    -
        const config = {
            title : "Profile",
            style : "/css/profile.css",
            h2DescriptonButton: "Completar informacion",
            route: `/updateE/${value.id}`,
            routeD: `/${directionD}/${value.id}`,
            routeP: `/${directionP}/${value.id}`,
            form: {
                    name:`${value.name}`,
                    email:`${value.email}`,
                    age: `${value.age}`
                },
        }   
    include ./templates/head.pug
    block header
        include ./templates/header.pug

    block main
        main.main__container

            include ./templates/deleteConfirm.pug
            
            div(class="options" id="options")
                div(id="options__card" class="options__card__show")
                    div.container__cancelar
                        span(id="eButton__cancel" class="iconCancel") 
                    h2.options__title Que Informacion deseas actualizar
                    div.options__container__cardOptions
                        div.container__options_buttons
                            div(id="container__iconProfile" class="container__icon")
                                h4.icon__title Perfil
                                span.iconProfile    
                            div(id="container__iconAddress" class="container__icon")
                                h4.icon__title Direccion
                                span.iconAddress    
                            div(id="container__iconAssigned" class="container__icon")   
                                h4.icon__title Beneficios 
                                span.iconBenefit


                div(id="container_formEmployee" class="container_formEmployee") 
                    span(id="formIconCancelEmployee" class="formIconCancelEmployee")
                    include ./templates/formEmployee.pug

                div(id="container__formAddress" class="container__formAddress") 
                    span(id="formIconCancelAddress" class="formIconCancelAddress")
                    include ./templates/formAddress.pug

                div(id="container__formAssigned" class="container__formAssigned") 
                    span(id="formIconCancelAssigned" class="formIconCancelAssigned") 
                    include ./templates/formAssigned.pug
                    
            div.main__sectionProfile
                h2.main__title Informacion Basica
                    include ./templates/cardProfile.pug


        include ./templates/workTable.pug

            

    block footer
        include ./templates/footer.pug
    script(src="/js/deletePrevent.js")