div.card__container
    div.card__info
        p= `nombre: ${value.name}`
        p= `edad: ${value.age}`
        p= `Email: ${value.email}`
        p= `profecion: ${value.job}`
    div.card__opt
        a(href=`/profile/${value.id}` class="iconProfile")
        a(href="" class="iconEdit")
        a(href="" class="iconDelete")